page-invitedetails {
    .card, .card-md, .card-ios {
        webkit-box-shadow: none;
        box-shadow: none;
    }
    
  .box{
position: relative;;
z-index: 9999999999px;

  }

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 70px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.ss {
  text-align: center;
}
.ii{
	text-align: left;
}

.i{
	text-align: right;
}

}
